Controlled Limbo: Controlling a raw area of Limbo is an exercise of the mind. A Wisdom check (DC 16) establishes control within part of a raw area of limbo, and the check can be repeated once per round as a free action. 
If the Wisdom check succeeds, the creature has established control over part of the area and can reshape it as she desires, allowing a desired element or a mixture of elements to become dominant. A favorite among travelers from the Material+Plane is a chunk of earth surrounded by a small atmosphere of air.
Control is a skill found in the PSCS Releases, Chapter 4. It can be used to attempt to control the raw chaos of Limbo, but also the Ectoplasm of the Astral Plane and the mists of the Ethereal.
Most controllers are unable to achieve any works of complexity within the area they control. The best most can do is mix two or three elements—and not too subtly. Rare minds called anarchs can build objects of amazing complexity, including structures and even simple vegetation. Anarch ability is exceedingly rare even among Limbo's inhabitants. It's even less likely that visitors have anarch ability.
Sources: 
Manual of the Planes, 1st edition, pages 97-98
Planes of Chaos, The Book of Chaos, pages 65-66
Manual of the Planes (3rd edition), page 94
PSCS Releases, Chapter 4, page 3